
body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-width: 300px;
}

nav{
  width: 100%;
  background-color: transparent;
  top:0;
  position: absolute;
}

/*Tourify logo*/
/*nav img{
  margin-top: 15px;
  width: 200px;
}*/

footer{
  width: 100%;
  bottom: 0;
  position: absolute;
}

/* tour stop */

.tourstop-body{
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  text-align:justify;
  color: #777879;
  line-height: 1.4;
  font-weight: 300;
}

.tourstop-main-photo{
  width: 100%;
  height: 25vh;
  margin-bottom: 40px;
  overflow: hidden;
  background: gray;
}*/

.photo-change-btn{
  position: absolute;
  margin-left: 85vw;
  margin-top: 20vh;
  background: #E34008;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  color: white;
}

.photo-change-btn:focus {
  outline: none;
}

.tourstop-header-text{
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
}

.tourstop-header-text h1{
  text-align: center;
  color: #E34008;
  font-size: 45px;
  padding-bottom: 0;
  /*border: 1px solid red;*/
  /*margin: 5px;*/
}

.tourstop-header-text p {
  text-align: center;
  color: #777879;
  font-size: 15px;
  padding-bottom: 0;
}

.tourstop-header-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #E34008;
  /*font-size: 35px;*/
  width: 80vw;
  max-width: 800px;
}

.tourstop-header-links img{
  height: 100px;
}

.tourstop-header-links a{
  color: #E34008;
  text-decoration: none;
  font-size: 35px;
}

.tourstop-travel-tip{
  background-color: lightgrey;
  /*margin-top: 40px;*/
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 800px;
  /*align-items: center;*/
  /*line-height: 1.1;*/
}

.tourstop-travel-tip h2 {
  font-size: 16px;
  text-align: center;
  color: #E34008;
  margin: 10px;
  letter-spacing: 5px;
}
.tourstop-travel-tip p{
  /*padding: 30px;*/
  /*line-height: 1.1;*/
  font-size: 16px;
}

.tour-map{
  width: 100%;
  height: 25vh;
  overflow: hidden;
  background: lightgray;
  text-align: center;
  color: white;
  font-size: 20px;
}

.tour-list {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  /*justify-content: center;*/
  /*align-content: center;*/
}

.tour-start-button {
  /* text-align: center; */
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 40px auto;
  color: white;
  background: #E34008;
  padding: 25px 40px;
  border-radius: 50px;
  border: none;
  width: 400px;
}

.tour-stop-preview {
  display: flex;
  flex-direction: row;
  margin: 20px 40px;
  height: 250px;
}


.tour-stop-image img {
  height: 250px;
}

.tour-stop-image {
  height: 100%;
  width: 25%;
  background: #E34008;
  overflow: hidden;
}

.tour-stop-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

.tour-stop-preview h1 {
  color: #E34008;
  font-size: 40px;
  margin: 20px;
}

.tour-stop-preview p {
  font-weight: 300;
  font-size: 40px ;
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tourstop-footer-links{
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  font-size: 35px;
}

.tourstop-footer-links a{
  color: #E34008;
  text-decoration: none;
}

/*---------MOBILE SIZING------------*/
@media screen and (min-width: 300px){

/*Logo*/
  nav img{
    margin-top: 15px;
    width: 150px;
  }

  /*---------Home Page Styles: Mobile----------*/

  .tour-main-photo{
    height: 350px;
    background-image: url('https://static1.squarespace.com/static/56eff436c2ea5144e9b6dce0/5861b28bbe6594106ff76705/5861b2aa03596eeb527fe719/1482883865229/Downtown-Durham-NC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .tour-main-text{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 10vh;
    color: white;
  }

  .tour-main-text h1{
    font-size: 45px;
  }

  .tour-main-text h2{
    font-size: 20px;
  }

  .tour-main-photo p{
    text-align: center;
    color: white;
    margin-top: 70px;
    font-size: 14px;
    font-style: italic;
    padding: 0 10px;
    font-weight: 300;
  }

  .select-a-tour{
    color: #E34008;
    text-align: center;
    font-size: 25px;
  }

  .tours-wrapper{
    display: flex;
    justify-content: center;
    width: 85vw;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tour-item{
    width: 120px;
    margin: 5px 5px;
    border: solid 1px transparent;
  }

  .tour-item-coming{
    width: 120px;
    margin: 5px 5px;
    border: solid 1px transparent;
    opacity: .5;
  }

  .tour-item:hover{
    border: solid 1px #E34008;
    opacity: 1;
    cursor: pointer;
  }

  .tour-item-text p{
    text-align: center;
    color: #777879;
    font-size: 16px;
    padding: 5px;
  }

  .tour-item-photo{
    width: 120px;
    height: 120px;
    background-color: lightgrey;
    overflow: hidden;
  }

  .tour-item-photo img {
    object-fit: cover;
    width: 120px;
    height: 120px;
  }

/*-------Tour Page Styles: Mobile-------*/

.tourstop-main-photo{
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
  overflow: hidden;
  background: gray;
}

.photo-change-btn{
  position: absolute;
  margin-left: 85vw;
  margin-top: 150px;
  background: #E34008;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  color: white;
}

.tourstop-main-photo img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.tourstop-header-text{
  width: 80vw;
  margin: 0 auto;
}

.tourstop-header-text h1{
  text-align: center;
  color: #E34008;
  font-size: 25px;
  /*padding-bottom: 0;*/
}

.tourstop-header-text p {
  text-align: center;
  color: #777879;
  font-size: 15px;
  margin: 0;
  /*padding-bottom: 0;*/
}

/*Tourify Icon*/
.tourstop-header-links img{
  height: 35px;
}

.tourstop-header-links p, .tourstop-header-links a {
  font-size: 16px;
  /*margin: 10px;*/
}

.tour-start-button {
  /* text-align: center; */
  font-size: 16px;
  /*font-weight: 300;
  letter-spacing: 2px;*/
  margin: 20px auto;
  /*color: white;
  background: #E34008;*/
  padding: 10px 10px;
  width: 160px;
  /*border-radius: 50px;
  border: none;*/
  /*width: 400px;*/
}

.tour-map{
  /*width: 100vh;*/
  height: 180px;
  overflow: hidden;
  background: lightgray;
  text-align: center;
  color: white;
  font-size: 20px;
}

.tour-stop-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  margin: 10px 20px;
  height: 100px;
}

.tour-stop-image {
  /*height: 100px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /*object-fit: cover;*/
  /*object-position: center;*/
  background: #E34008;
  /*overflow: hidden;*/
}

.tour-stop-image img {
  /*object-position: center;*/
  /*height: 100px;*/
  /*width: 100%;*/
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.tour-stop-text {
  /*width: 70%;*/
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

.tour-stop-preview h1 {
  color: #E34008;
  font-size: 16px;
  margin: 10px;
}

.tour-stop-preview p {
  font-weight: 300;
  font-size: 16px ;
  margin: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-------Stop Page Styles--------*/

.tourstop-location {
  margin: 5px;
}

.tourstop-travel-tip{
  /*background-color: lightgrey;*/
  width: 100%;
  margin: 0 auto;
  /*display: flex;
  align-content: center;
  justify-content: center;*/
  /*padding: 15px;
  line-height: 1.1;*/
}

.tourstop-travel-tip p{
  padding: 0 15px;
  line-height: 1.1;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.tourstop-footer-links{
  width: 80vw;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
  align-items: center;
  font-size: 18px;
}

.tourstop-footer-links img {
  height: 50px;
}

}

/*------------TABLET SIZING------------*/
  @media screen and (min-width: 450px){

/*------Home Page Styles--------*/
    .tours-wrapper{
      width: 85vw;
    }

    .tour-item{
      width: 150px;
      margin: 10px;
    }

    .tour-item-text p{
      font-size: 16px;
      padding: 5px;
    }

    .tour-item-photo{
      width: 150px;
      height: 150px;
    }

    /*--------Tour Page Styles--------*/

    .tourstop-main-photo{
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
      overflow: hidden;
      background: gray;
    }

    .tourstop-main-photo img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }

    .tour-map{
      /*width: 100vh;*/
      height: 250px;
      overflow: hidden;
      background: lightgray;
      text-align: center;
      color: white;
      font-size: 20px;
    }
    /*--------Stop Page Styles-------*/
    .photo-change-btn{
      position: absolute;
      margin-left: 85vw;
      margin-top: 225px;
      /*background: #E34008;
      border-radius: 50%;
      border: none;
      height: 50px;
      width: 50px;
      color: white;*/
    }
  }




/*------LAPTOP-DESKTOP SIZING--------*/
@media screen and (min-width: 1000px){

/*-------Home Page Styles-------*/
  .tour-main-photo{
    height: 400px;
  }

  .tours-wrapper{
    max-width: 85vw;
  }

  .tour-item{
    width: 200px;
    margin: 10px;
  }

  .tour-item-photo{
    width: 200px;
    height: 200px;
  }

  .select-a-tour{
    font-size: 30px;
  }

/*Tour name*/
  .tour-main-text h1{
    font-size: 75px;
    margin: 20px;
  }

/*Tour description*/
  .tour-main-text h2{
    font-size: 35px;
  }

/*Tour credit*/
  .tour-main-photo p{
    margin-top: 60px;
    font-size: 18px;
  }

  /*--------Tour Page Styles--------*/

  .tourstop-main-photo{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    background: gray;
  }

  .tourstop-main-photo img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .tour-map{
    /*width: 100vh;*/
    height: 300px;
    overflow: hidden;
    background: lightgray;
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .tourstop-header-text h1{
    text-align: center;
    color: #E34008;
    font-size: 30px;
    /*padding-bottom: 0;*/
  }

  .tourstop-header-text p {
    text-align: center;
    color: #777879;
    font-size: 18px;
    margin: 5px;
    /*padding-bottom: 0;*/
  }

  /*Tourify Icon*/
  .tourstop-header-links img{
    height: 45px;
  }

  .tourstop-header-links p {
    font-size: 18px;
  }

  /*--------Stop Page Styles-------*/
  .photo-change-btn{
    position: absolute;
    margin-left: 85vw;
    margin-top: 275px;
    /*background: #E34008;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    color: white;*/
  }

  /*.tourstop-body-text {
    max-width: 500px;
  }*/
}
